button {
    background-color: crimson;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border:none; 
  
}
button:hover{
    background-color: darkred;
    color: white;
    font-size:14px;
    font-weight: bold;
    
}